$azul-petroleo: #0A2240;
$azul-claro: #00A9E0;


$font-book:'bentonsansbook';

// COLORS
$blue-default: #002f9e;
$blue-lighter: #00c1ff;
$blue-dark: #01285b;
$blue-medium: #006cb9;

$green: #00ae43;

$yellow: #c0b800;

$orange: #ffb71e;

$red: #a80050;

$pink: #af50c5;

$white: #fff;
$black: #000;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
