.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 10rem;
  margin-right: 10rem;
  @include respond(tab-port) {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 6rem;
    gap: 6rem;
  }
}

.single-chart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include respond(tab-port) {
    width: 30%;
    // gap: 2rem;
    // margin-top: 3rem;
    // margin-bottom: 3rem;
  }
  @include respond(phone) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 2.3rem;
  }
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 60%;
  max-height: 250px;
  @include respond(tab-port) {
    max-width: 100%;
  }
  @include respond(phone) {
    width: 50%;
    margin: 0;
  }
}

.circle-bg {
  fill: none;
  stroke: $azul-claro;
  stroke-width: 3.8;
  opacity: 0.3;
}

.circle {
  fill: none;
  stroke-width: 3.8;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.blue .circle {
  stroke: $verde;
  animation: progress 2s ease-out forwards;
}

.percentage {
  fill: $white;
  font-family: $font-bold;
  font-size: 0.7em;
  text-anchor: middle;
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 1.2em;
  }
  @include respond(tab-port) {
    width: 30%;
    font-size: 0.8em;
  }
}

.percentage-arrow {
  fill: $yellow;
}

.graph-icon {
  width: auto;
  height: 4rem;
  margin-bottom: 1rem;
}

.graph-title {
  text-align: center;
  margin-top: 1rem;
  color: $white;
  font-family: $font-book;
  font-size: 2.4rem;
  line-height: 3.2rem;
  @include respond(tab-port) {
    font-size: 2rem;
    line-height: 3rem;
  }
}


.graficos-numeros {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__percentagem {
    color: $white;
    font-family: $font-bold;
    font-size: 3.8rem;
    line-height: 4rem;
  }

  &__legenda {
    width: 100%;
    color: $white;
    font-family: $font-book;
    font-size: 2.1rem !important;
    line-height: 2.8rem;
  }
}
