.section-badges {
  display: flex;
  overflow: hidden;
  min-height: auto !important;
  height: auto;
  width: 100%;
  background-color: $white;

  &__content {
    width: 86%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 8rem;
    @include respond(phone) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.badges-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  margin-bottom: 8rem;
}

.badges-container--phone {
  display: flex;
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 9rem;
  gap: 4rem;
}

.badges_images {
  width: 20rem;
  @include respond(phone) {
    width: 16rem;
    margin-bottom: 6rem;
  }
}

.section-badges-text__number {
  font-family: $font-book;
  color: $azul-petroleo;
  font-size: 6rem;
  line-height: 6.6rem;
  margin-bottom: 5rem;
  @include respond(tab-port) {
    font-size: 3rem;
    line-height: 3.8rem;
    margin-bottom: 3rem;
  }
  @include respond(phone) {
    font-size: 3rem;
    line-height: 3.8rem;
    margin-bottom: 3rem;
    margin-top: 7rem;
  }
}
// .wrapper-badges {
//   margin-right: auto; /* 1 */
//   margin-left: auto; /* 1 */

//   max-width: 86vw; /* 2 */

//   padding-right: 20px; /* 3 */
//   padding-left: 20px; /* 3 */
//   display: flex;
//   flex-direction: column;
//   min-height: 55rem;
//   align-items: flex-start;
//   position: relative;
//   background-color: forestgreen;
// }

// .subsection {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: 40vh;
//   background: linear-gradient(
//     0deg,
//     $white 0%,
//     rgba(0, 0, 0, 0) 50%,
//     rgba(0, 193, 255, 0.1) 100%
//   );

//   &__container {
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     align-content: center;
//     width: 86vw;
//     img {
//       padding: 4rem 0;
//     }
//   }
// }
