.section6 {
  &__content {
    width: 50%;
    transform: translateX(7vw);
  }

  &__photo {
    width: 50%;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%);
    background-image: url(../img/vr_bg.jpg);
    background-size: cover;
    background-position: right;
    position: relative;
    @include respond(tab-port) {
      height: 75vh;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
