*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%


  @media only screen and (min-width: 1024px) and (max-width: 1440px) {
    font-size: 46.875%;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 36.4583333%;
  }

  @media only screen and (max-height: 700px) {
    font-size: 36.4583333%;
  }

  // @include respond(regular-desktop) {
  //   // width < 1025?
  //   font-size: 47.6190476%;
  // }

  @include respond(tab-port) {
    // width < 1025?
    font-size: 62.5%;
  }

  @include respond(phone) {
    // width < 1025?
    font-size: 62.5%;
  }



  // @if $breakpoint == tab-port {
  //   @media only screen and (min-width: 43.7em) and (max-width: 56.25em) {
  //     @content;
  //   } //900px
  // }


  // @include respond(tab-port) {
  //   // width < 900?
  //   font-size: 50%; //1 rem = 8px, 8/16 = 50%
  // }

  // @include respond(big-desktop) {
  //   font-size: 75%; //1rem = 12, 12/16
  // }
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

::selection {
  background-color: $blue-lighter;
  color: $color-white;
}

a{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
 
 }